html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
}

#comment-box {
  position: relative;
  height: 100%;
  width: 100%;
}

.comments {
  color: white;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
}
